html, body{
    background-color: rgb(48,0,0);
    color: white;
    margin: 0;
    height: 100%;
}
/*Hero Image */

#hero{
    height: 100%;
}

/*Home */


#home{
    background-image: url("images/heroimage.jpg");
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#hero-text{
    position: absolute;
    text-align: center;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

#hero-logo{
    max-height: 185px;
    width: auto;
}

.hero-title{
    color:#feea00;
    font-family: "Roboto Slab", serif;
    font-size: 7em;
    text-shadow:5px 5px grey;
    margin: 0;
}

#hero-title-2{
    font-size: 5em;
    color: white;
}

#hero-desc{
    font-family: "Exo", sans-serif;
    font-size: 1.5em;
     text-shadow:2px 2px grey;
    margin: 0;
    font-weight: 700;
}

#hero-button{
    background-color:gold;
    color: darkslategrey;
    border-radius: 10px;
    margin-top: 30px;
    height:50px;
    width: 150px;
    font-family: "Oxygen", sans-serif;
    font-size: 1.2em; 
    font-weight: 700;
}

/*Responsive hero */
@media(max-width: 436px){
    #hero-text{
        transform: translate(-50%, -55%);
    }
    #hero-logo{
        height: 65%;
        width: auto;
    }
    .hero-title{
        font-size: 17vw;
    }
    #hero-title-2{
        font-size: 15vw;
    }
    #hero-desc{
        font-size: 5vw;
    }
    
}

/*Navigation Bar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


header{
    top: 0;
    right: 0;
    left: 0;
    width: 100%x;
    height: 55px;
    background-color: rgb(28,0,0);
    margin: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
}

#headimg{
    width: 300px;
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

#header-img{
    display: block;
    width: auto;
    height: 45px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

#headtitle{
    text-align: left;
    font-family:"Roboto Slab",monospace;
    margin: auto;
}

#nav-bar {
    height: 55px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    align-content: center;
    text-align: center;
    overflow: hidden;
    background-color:rgb(28,0,0);
    
}

.nav-button{
    height: 55px;
    display: table;
    background-color:  rgb(28,0,0);
}

.nav-button .nav-link:hover{
    background-color: white;
   color: black;
}

.nav-link{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 1em;
}

/*RWD Navbar */
@media(max-width: 610px){
    .nav-link{
        font-size: 2vw;
    }
}

@media(max-width: 444px){
   header{
        grid-template-columns: 1fr;
       grid-row-gap: 0;
       border: 0;
       margin: 0;
    }
    main{
      padding-top: 100px;
    }
    #headimg{
       
        padding-bottom: 0;
    }
    .nav-link{
        font-size: 3vw;
    }
    main{
    padding-top: 50px;
}

    #tentang{
        padding-top: 125px;
    }
}
/*Main*/
main{
    height: 100%;
    padding-top: 60px;
}

.sticky + main {
  padding-top: 150px;
}


/*Opening*/


/*.triangle{
   width: 0;
    height: 0;
	border-right: 100px solid #c86802;
	border-bottom: 100px solid transparent;
    
}*/
#basmalah{
    top: 50px;
    position:relative;
    left: 50%;
    width: 75%;
    height: auto;
    transform: translate(-50%, 0);
    margin-bottom: 150px;
}
#video{
    margin-bottom: 0;
    border-bottom: 0;
}

/*Tentang */
#tentang{
    
    background-color: #970100;
  padding-top: 70px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
     margin: 0;
    border: 0;
    
}

.tentang-content{
    grid-row: auto;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 30px;
    grid-row-gap: 0;
}
.tentang-logo{
    height: 140px;
    grid-column: 2;
    grid-row: 1/span 2;
    font-size: 140px;
    text-align: center;
    margin-bottom: 0;
}
.tentang-subtitle{
    font-family: "Exo",sans-serif;
    font-weight: 700;
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0;
    font-size: 1.5em;
}
.tentang-desc{
    font-family: "Exo", sans-serif;
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 0;
}

@media(max-width: 500px){
    #tentang{
        grid-row-gap: 100px;
    }
    .tentang-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.3fr; 3fr;
        text-align: center;
       
        
    }
    .tentang-subtitle{
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
    }
    .tentang-logo{
        
        grid-column: 1;
        grid-row: 1;
        margin-left: auto;
        margin-right: auto;
         margin-bottom: 0;
        margin-top: 0;
        padding: 0;
    }
    #tentangtaysirlogo{
        margin-bottom: 70px;
    }
    .tentang-desc{
        margin: 0;
        padding-top: 0;
        grid-column: 1;
        grid-row: 3;
    }
}
/*Program */

#program{
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    margin: 0;
    background-color: #003030;
}

#program-title{
     font-family: "Exo",sans-serif;
}

#grid-kelas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: "Exo",sans-serif;
}

.kelas-content{
    grid-row: auto;
    grid-column: auto;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 0.5fr 2fr;
    grid-row-gap: 0;
    text-align: center;
    padding: 10%

}

.kelas-logo{
    grid-row: 1;
    font-size: 75px;
    text-align: center;
    margin-bottom: 0;
    }

@media(max-width: 500px){
    #grid-kelas{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.3fr 1fr;
    }
}

/*Kontak */
#kontak{
    margin: 0;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    margin: 0;
    font-family: "Exo", sans-serif;
    width: auto;
    
}


.kontak-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.1fr 0.5fr;
}
#kontak-title{
    grid-column: 1;
    grid-row: 1;
}


#detailmahad{
    grid-column: 2;
    grid-row: 1 / span 2;
    text-align: right;
    
}

#kontaktaysirlogo{
    width: 200px;
    height: 30%;
}

#donasi{
    grid-column: 1;
    grid-row: 2;
    width: auto;
}
#langganan{
    grid-row: 3;
    margin: 0;
    padding: 0;
    
}


#email{
    height:20px;
    margin-right: 20px;
}
#submit{
    background-color:gold;
    color: darkslategrey;
    border-radius: 10px;
    height:28px;
    width: 100px;
    font-family: "Oxygen", sans-serif;
    font-size: 1em; 
    font-weight: 700;
}

#kontak-desc{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}
#sosmed{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}

.sosmed-link{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-column-gap: 25px;
    
}

.sosmed-logo{
    grid-column: 1;
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.sosmed-desc{
    grid-column: 2;
    position: relative;
   bottom: 5px;
}

#copyright{
    text-align: right;
    grid-column: 2;
    grid-row: 3;
   
}
#copyright > a{
    text-decoration: none;
    color: white;

}

@media(max-width: 739px){
    #kontak{
        padding:auto;
    }
    .kontak-content{
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 0.2fr 0.5fr 0.5fr;
    }
    #kontak-title{
        text-align: left;
        grid-column: 1;
        grid-row: 1;
    }
    #detailmahad{
        text-align: center;
        grid-column: 1;
        grid-row: 2;
    }
    #donasi{
        font-size: 4vw;
        width: 30%;
         grid-column: 1;
        grid-row: 3;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
    }
    #langganan{
        grid-column: 1;
        grid-row: 4;
        margin: 0;
        
    }
    
    #form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    #form *{
        justify-self: center;
        width: 30%;
        grid-row:auto;
    }
    #email{
        width: 70%;
        margin-right: 0;
        margin-bottom: 5px;
        margin-top: 0;
    } 
    
    #kontak-desc{
          grid-column: 1;
        grid-row: 5;
    }
    #copyright{
        text-align: center;
        grid-column: 1;
        grid-row: 6;
    }
}

@media(max-width: 444px){
    .kontak-content{
        width: 40%;
        grid-row-gap: 0;
    }
     #detailmahad{
        margin-left: 5%;
        width: 80%;
    }
    #donasi{
       text-align: left;
        width: 90%;
        height: 80%;
        word-wrap: break-word;
    }
    #kontak-desc{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 10%;
    }
    #sosmed{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .sosmed-link{
        grid-row: auto;
    }
    .sosmed-logo{
        margin:0;
    }
    .sosmed-desc{
        text-align: left;
    }
}
